.App {
  font-family: sans-serif;
  text-align: center;
}

.light {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  /* background-color: aqua; */
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}